div{
margin-left: 20px;
flex-direction: column;
border-style: dotted;
  border-radius: 12px;
  float: left;
  width: 1070px;
  background-color: rgb(4, 72, 83);
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
  padding-right: 20px;
  line-height: 6px;
}
label {
    color: beige;
    font-weight: bold;
    font-size: 20px;
  
  }
  